<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eva02iot_adolfo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/funnycat"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material3.Light">

        <!-- Splash Screen como actividad principal -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Recover Activity -->
        <activity
            android:name=".RecoverActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Home Activity (Listado de Noticias) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- Add News Activity (Formulario para agregar) -->
        <activity
            android:name=".AddNewsActivity"
            android:exported="false" />

        <!-- News Detail Activity (Ver detalle) -->
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false" />

    </application>

</manifest>